python-dotenv
livekit
livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-noise-cancellation
livekit-plugins-elevenlabs
google-auth
google-auth-oauthlibpip
google-api-python-client